@font-face {
    font-family: 'iawriter-mono';
    src: url('fonts/iAWriterMonoS-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'iawriter-mono', monospace;
  }